@import url(../../../stylesheets/application.css);

/* Generic theme */
@import url(fonts.css);

html, body {
    background-color: rgba(195,229,167,0.3);
}

body {
    font-family: 'AvenirBook', Helvetica, Arial, sans-serif;
    line-height: 1.45em;
    font-size: 0.825em;
}

h1, h2, h3, h4 {
    font-family: 'AvenirRoman', 'Trebuchet MS', Verdana, sans-serif;
    font-weight: normal;
    line-height: 1em;
    color: #505143;
}

:focus {
    outline-color: #799c4b;
}

a, a:link, a:visited {
    color: #799c4b;
}

#top-menu {
    background: #ffffff;
    padding: 2px 12px;
    border-bottom: 1px solid #a8a8aa;
}

#top-menu #loggedas, #top-menu a, #top-menu a:link, #top-menu a:visited {
    color: #505143;
}

#header {
    background: #f9f9f9;
    padding: 4px 4px 4px 4px;
    border-bottom: 27px solid #799c4b;
}

#header h1 {
    margin: 0;
    padding: 0 0 0 62px;
    background: transparent url(../images/mp-icon.png) no-repeat 8px 8px;
    background-size: 50px auto;
    color: #71756d;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    height: 66px;
    text-transform: lowercase;
}

#header a, #header a:link, #header a:visited {
    color: #505143;
}

#main-menu {
    position: absolute;
    bottom: -27px;
    left: 0;
    padding: 0 12px;
}

#main-menu ul li a {
    color: white !important;
    height: 27px;
    line-height: 27px;
    padding-top: 0;
    padding-bottom: 0;
}

#main-menu ul li a.selected {
    font-family: 'AvenirRoman', 'Trebuchet MS', Verdana, sans-serif;
    color: #505143 !important;
    background-color: white;
}

#main-menu ul li a:hover {
    background-color: #799c4b;
}

#main {
    background-color: white;
}

#content {
    padding: 12px;
}

#sidebar a.selected {
    background-color: #799c4b;
}

#footer {
    border-top: 0 solid transparent;
    padding: 10px 0;
    background-color:rgba(195,229,167,0.3);
    box-shadow:0 20px 10px -10px rgba(0,0,0,0.05) inset
}

/* Issue detail modeling */
.subject p {
    color: #900 !important;
    font-weight: bold;
    font-size: 14px !important;
}

.next-prev-links.contextual {
    margin-top: -6px;
    margin-right: -6px;
    padding: 6px;
    background-color: white;
}

.details .subject {
    margin: -6px -6px 0 -6px;
    padding: 6px;
}

.details p.author {
    margin: 0 -6px 6px -6px;
    padding: 6px 6px 12px 6px;
}

/* Issue colors */

    /* Immediate (priority-10) */
    .details.priority-10 .subject,
    .details.priority-10 p.author {
        background-color: #EB9999;
    }
    table.list tr.priority-10.even {
        color: black;
        background-color: #E06666;
    }
    table.list tr.priority-10.odd {
        color: black;
        background-color: #EB9999;
    }
    table.list tr.priority-10 a {
        color: black;
    }

    /* Urgent (priority-1) */
    .details.priority-1 .subject,
    .details.priority-1 p.author {
        background-color: #FFCCCC;
    }
    table.list tr.priority-1.even {
        color: darkred;
        background-color: #FF9999;
    }
    table.list tr.priority-1.odd {
        color: darkred;
        background-color: #FFCCCC;
    }
    table.list tr.priority-1 a {
        color: darkred;
    }

    /* High (priority-5) */
    .details.priority-5 .subject,
    .details.priority-5 p.author {
        background-color: #FFB280;
    }
    table.list tr.priority-5.even {
        color: black;
        background-color: #FFA366;
    }
    table.list tr.priority-5.odd {
        color: black;
        background-color: #FFB280;
    }
    table.list tr.priority-5 a {
        color: black;
    }

    /* Normal (priority-2) */
    .details.priority-2 .subject,
    .details.priority-2 p.author {
        background-color: #CCEBD6;
    }
    table.list tr.priority-2.even {
        color: #333333;
        background-color: #99D6AD;
    }
    table.list tr.priority-2.odd {
        color: #333333;
        background-color: #CCEBD6;
    }
    table.list tr.priority-2 a {
        color: #333333;
    }

    /* Low (priority-3) */
    .details.priority-3 .subject,
    .details.priority-3 p.author {
        background-color: #DEEFF5;
    }
    table.list tr.priority-3.even {
        color: #787878;
        background-color: #CEE8F0;
    }
    table.list tr.priority-3.odd {
        color: #787878;
        background-color: #DEEFF5;
    }
    table.list tr.priority-3 a {
        color: #787878;
    }

    /* For Later (priority-9) */
    .details.priority-9 .subject,
    .details.priority-9 p.author {
        background-color: #F0F8FA;
    }
    table.list tr.priority-9.even {
        color: #888888;
        background-color: #E6F4F8;
    }
    table.list tr.priority-9.odd {
        color: #888888;
        background-color: #F0F8FA;
    }
    table.list tr.priority-9 a {
        color: #888888;
    }

    /* Patch style */
    .details.tracker-11 .subject,
    .details.tracker-11 p.author {
        background-color: #d8cae8;
    }
    table.list tr.tracker-11.even {
        color: #4B1668;
        background-color: #b8aac8;
    }
    table.list tr.tracker-11.odd {
        color: #4B1668;
        background-color: #d8cae8;
    }
    table.list tr.tracker-11 a {
        color: #4B1668;
    }

/* redmine_dashboard styles */
.rdb-menu h2 {
    line-height: 1.4em;
}

.rdb-card .rdb-priority {
    height: auto !important;
    min-height: 12.6em;
}

    /* Give redmine_dashboard priorities a better color theme for priorities */
    .rdb-priority.rdb-priority-1 {
        border-color: darkred;
    }
    .rdb-priority.rdb-priority-2 {
        border-color: red;
    }
    .rdb-priority.rdb-priority-3 {
        border-color: orange;
    }
    .rdb-priority.rdb-priority-4 {
        border-color: green;
    }
    .rdb-priority.rdb-priority-5 {
        border-color: lightslategray;
    }
    .rdb-priority.rdb-priority-6 {
        border-color: lightblue;
    }

